apiVersion: batch/v1
kind: Job
metadata:
  name: algosvc-job-test
spec:
  completions: 1
  parallelism: 1
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: algosvc
    spec:
      restartPolicy: Never
      securityContext:
        runAsNonRoot: true
        fsGroup: 10001
      containers:
        - name: app
          image: algosvc:v0.1.0
          imagePullPolicy: Never
          env:
            - name: INPUT_DIR
              value: "/rundata/input"
            - name: OUTPUT_DIR
              value: "/rundata/output"
            - name: ALGO_VERSION
              value: "0.1.0"
            - name: LD_LIBRARY_PATH
              value: "/app/lib"
            - name: JAVA_TOOL_OPTIONS
              value: "-XX:+UseContainerSupport -XX:MaxRAMPercentage=75"
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1"
              memory: "2Gi"
          volumeMounts:
            - name: input-data
              mountPath: /rundata/input
              readOnly: true
            - name: output-data
              mountPath: /rundata/output
      volumes:
        - name: input-data
          hostPath:
            path: /Users/jmasengesho/Developer/microsoft/misc/algosvc-mlops/rundata/input
            type: Directory
        - name: output-data
          hostPath:
            path: /Users/jmasengesho/Developer/microsoft/misc/algosvc-mlops/rundata/output
            type: DirectoryOrCreate

